<%+cbi/valueheader%>
<script type="text/javascript">//<![CDATA[
	function admin_info(btn)
	{
		btn.disabled = true;
		btn.value = '<%:Collecting data...%>';
		XHR.get('<%=luci.dispatcher.build_url("admin", "nas", "alist", "admin_info")%>',
			null,
			function(x,rv)
			{
			var tb = document.getElementById('<%=self.option%>-status');
			if (tb)
			{
				tb.innerHTML = "<%:帐号：%>" + "<font color='green'>" + rv.username + "</font>";
				tb.innerHTML += "<%:密码：%>" + "<font color='green'>" + rv.password + "</font>";
			}
				btn.disabled = false;
				btn.value = '<%:Reset%>';
			}
		);
		return false;
	}
//]]></script>
<input type="button" class="btn cbi-button cbi-button-apply" value="<%:重置%>" onclick="return admin_info(this)" />
<span id="<%=self.option%>-status"><em><%=self.value%></em></span>
<%+cbi/valuefooter%>
