<%
	local uci = require 'luci.model.uci'.cursor()
	ssl = uci:get_first('alist', 'alist', 'ssl')
	if ssl == '1' then
		protocol="https://"
	else
		protocol="http://"
	end
%>

<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url("admin/nas/alist/alist_status")%>', null,
		function(x, st) {
			var tb = document.getElementById('alist_status');
			if (st && tb)  {
		
		       var aliStatus = st.running ? "<span style='color:green;'> 运行中</span>" : "<span style='color:red;'> 未运行</span>";
                       var alistaContent = st.running ? "已运行：" + "<span style='color:#DA70D6;'>" + st.alista + "</span>" : "";    
                       var alicpuContent = st.running ? "<br>" + "CPU占用：" + "<span style='color:#6A5ACD;'>" + st.alicpu + "</span>" : "";  
                       var aliramContent = st.running ? "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + "&nbsp;&nbsp;&nbsp;&nbsp;内存占用：" + "<span style='color:#0000CD;'>" + st.aliram + "</span>" : ""; 
                       var alitagContent = st.running ? "<br>" + "当前版本：" + "<span style='color:#CD853F;'>" + st.alitag + "</span>" : ""; 
                       var alinewtagContent = st.running ? "&nbsp;" + "最新版本：" + "<span style='color:#FFA500;'>" + st.alistnewtag + "</span>" : "";
                      var aliwebContent = st.running ? "<input class=\"cbi-button cbi-button-reload mar-10\" type=\"button\" value=\" <%:Web 界面%> \" onclick=\"window.open('<%=protocol%>" + window.location.hostname + ":" + st.port + "/')\"/>" : "";
tb.innerHTML = "<b><em>Alist " + aliStatus + alistaContent + alicpuContent + aliramContent + alitagContent + alinewtagContent + aliwebContent + "</b></em>";
			}
		}
	);
//]]></script>

<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="alist_status">
		<em><b><%:Collecting data...%></b></em>
	</p>
</fieldset>
